@import './base.css';
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

#app {
  max-width: 1440px;
  margin: 0 auto;
  font-weight: normal;
}

html.dark {
  @apply transition-colors duration-300 ease-in-out;
}

body,
.bg-transition {
  @apply transition-colors duration-300 ease-in-out;
}
